markdown:
  ### Terms & Conditions

  To ensure safe use, and maintaining the high quality playing surface, all bookings must adhere to the following rules and regulations

  Clean footwear only
  Correct footwear, as shown in footwear guide
  No smoking.
  No chewing gum.
  No foul language.
  ALL litter including bottles and tape must be deposited in the bins provided. Players must not participate under the influence of alcohol.
  Show consideration to other users of the synthetic surface

  ### Footwear Guidelines for 3G synthetic surface

  To protect & maintain the high quality playing surface, approved footwear must be worn at all times.
  The only footwear permitted are:

  * Round rubber/plastic moulded studs
  * Astroturf trainers

  **No blades of any type are allowed**

  Under no circumstances should any type of screw in studs, blades, rugby boots, trainers or spiked running shoes be worn on this pitch. Only approved footwear may be carried onto pitch.

  *Any player with incorrect footwear will not be allowed to participate.* Failure to comply may lead to loss of future bookings.

  In this document Magherabeg Rural Community Association are not endorsing any of the brands or footwear shown but are merely using them as an example of the types of footwear allowed on our 3G synthetic
  pitch.

  The Association reserves the right to amend our footwear policy at any time, and although we will endeavour to give notice of any change we cannot guarantee it. The manufacturer and supplier of our synthetic 3G pitch have given us their conditions and maintenance regime to ensure longevity, guarantee and safety of users of our 3G synthetic pitch, these include the conditions that screw-in studs, metal/metal tipped studs, ordinary trainers and blades of any kind are not allowed under any circumstances and as such, we have to ensure these conditions are met and would appreciate the understanding and co-operation of our users.

  ### 3G SYNTHETIC SURFACE CONDITIONS FOR HIRE

  1. All applications for the hire of the facilities/equipment shall be made on through the web booking system. Unless expressly stated otherwise it will be presumed that the person nominated on the booking form will be the Hirer, and shall have responsibility for the hire charge and the use of the facility.
  2. The facilities/equipment must not be used for purposes other than those stated.
  3. The hirer shall be responsible for complying with the footwear guidelines as detailed. The failure of users to comply with these guidelines will result in exclusion from the use of the pitches. Continued failure to comply may result in refusal to accept future bookings.
  4. In the event of a cancellation by the Hirer of a confirmed booking a cancellation charge up to the hire charge will be made at the discretion of the Association.
  5. The Hirer shall leave the facilities/equipment in a clean and tidy condition.
  6. The Hirer shall be held responsible for all damages caused to the facilities/equipment and will be liable for all costs incurred to repair such damage.
  7. Magherabeg Rural Community Association will not accept liability for damage or loss of properties belonging to Hirers or users of the facilities/equipment.
  8. Magherabeg Rural Community Association will ensure compliance with the conditions of let and have the right to terminate the let or refuse admission at any time.
  9. It will be the Hirer’s responsibility to ensure that all equipment or property brought to the premises is in a safe condition and complies with all relevant safety regulations. The Association reserves the right to exclude any equipment or property it deems unsuitable.
  10. Magherabeg Rural Community Association reserves the right to cancel any booking at any time and will not be liable for any loss or damage arising from such cancellation.
  11. Magherabeg Rural Community Association, whose decision shall be final, shall settle all disputes that may arise.

  Please understand that for the safety of everyone concerned the entire facility is fully monitored and recorded on a 24 hour basis by close circuit television

  ### Child Admission Policy for our facilities:
  1. **EACH CHILD UNDER 4 YEARS** - must be accompanied by a responsible person over 16 years on a one-to-one basis when using the facilities.

  1. **CHILDREN AGED BETWEEN 4 AND 7 YEARS** - must be accompanied by a responsible person over 16 years with 		maximum of 2 children being supervised by one adult

  For example:

    * Three children under 4 will need three adults.
    * Two children under 8 and two children under 4 will need three adults.
    * Two children under 8 and one under 4 will need two adults.
    * One child under 8 and one under 4 will need two adults.

  ### Refunds
  All bookings are non-refundable however in the event of a failure of service that is within the control of the Association then a refund shall be made back to the credit/debit card from which the original payment was made. If for any reason payment cannot be made to the originating card, a cheque refund will be made to the card holder
