doctype html
head
  meta charset="utf-8"
  meta name="viewport"
  title Magharabeg Rural Community Association
  = csrf_meta_tags
  sass:
    body, html
      background: #fff
      background: linear-gradient(#f9fcff, #e9ecef)
      color: #333344
      font-family: helvetica neue, helvetica
      height: 100%
      margin: 0
      padding: 0
      overflow: hidden
      text-align: center
    .head
      position: absolute
      top: 0
      left: 0
      right: 0
      height: 40px
      background: #334
      background: linear-gradient(#334, #333649, #202a3f)
      box-shadow: 0 0 5px 3px rgba(#334, 0.4)
      text-align: left
      font-weight: 900
      color: #99c
      p
        font-size: 16px
        font-weight: 300
        margin-left: 2em
        padding: 0
        line-height: 40px
    .container
      margin: auto
      max-width: 1000px
      padding-top: 7em
      width: 75%
    h1
      color: #333
      font-size: 4em
      font-weight: 500
      line-height: 1
      margin: 0
    h2
      font-weight: 400
      margin: 2em 0 3em 0
    p
      display: block
      line-height: 1.7
      font-weight: 200
      margin: auto
      color: #778
      span
        color: #74778f

body
  .head
    p
  .container
    h1 Magharabeg
    h1 Rural Community Association
    p &nbsp;
    p Coming soon
    h2 Book yourself a session at our world class all-weather
        sports pitch
    p
      span Magherabeg Rural Community Association
      |  was formed in 2004 with the aim of
        re-invigorating and promoting the sense of community well-being in the area
        through the creation of facilities that can be used and shared by all.  The
        Association, has, with the help of Sport Northern Ireland and Banbridge
        District Council, created a 40mx20m world class third generation sports
        pitch, the first of its kind in the Dromore area and will hopefully help
        address the current shortfall of this type of facility in the locality. The
        target user group is those who would normally participate in sport on a
        casual basis with the primary aim to improve the health and well being of
        everyone.
